{
  "presets": [
    "@babel/preset-flow",
    ["@babel/preset-env",{
      "shippedProposals": true,
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "minify"
  ],
  "plugins": [
    "transform-class-properties"
  ]
}